# Core
numpy==1.26.4
pandas==2.2.3
scipy==1.15.2
networkx==3.4.2
tqdm==4.66.5
pyyaml==6.0.2

# Deep Learning & GNN
torch==2.7.0
torch-geometric==2.6.1
torchaudio==2.7.0
torchvision==0.22.0

# NLP & Transformers
transformers==4.51.2
datasets==3.5.1
sentence-transformers==4.1.0
huggingface-hub==0.30.2
spacy==3.8.5


# Speech & Audio
librosa==0.11.0
soundfile==0.13.1
sounddevice==0.5.1

# Computer Vision / Face
opencv-python==4.11.0.86
face-alignment==1.4.1
facenet-pytorch==2.5.3

# Utilities & Visualization
scikit-learn==1.6.1
scikit-image==0.25.2
matplotlib==3.10.1
jupyterlab==4.3.4


# Manuelly added : python -m spacy download en_core_web_sm  and python -m spacy download en_core_web_sm

